{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'update_ticketInternalNotes' %}" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Ticket Internal Notes</span></h5>
                        </div>
                       {% include 'includes/messages.html' %}
                       <div class="col-12">
                        <input type="text" name="ticketInternalNotes_id" value="{{ticketinotes.TINID}}" hidden>
                       </div>
                       <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="">Ticket No</label>
                            <select class="form-control" name="ticket_id" required>
                                <option>Select Ticket No</option>
                                {% for tic in ticket %}
                                <option value="{{tic.TID}}"{% if tic.TID == ticketinotes.TicketNo.TID %}selected{% endif %}>{{tic.TID}}</option>
                                {% endfor %}
                            </select>
                        </div>
                       </div>
                       <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label for="">Field Engineer</label>
                            <select class="form-control" name="fengg_id" required>
                                <option>Select Field Engineer</option>
                                {% for fe in fengg %}
                                <option value="{{fe.FEID}}"{% if fe.FEID == ticketinotes.FieldEngineer.FEID %}selected{% endif %}>{{fe.FirstName}} {{fe.LastName}}</option>
                                {% endfor %}
                            </select>
                        </div>
                       </div>

                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label>Date / Time</label>
                                <input type="text" class="form-control" name="innote_date" id='innote_date' value="{{ticketinotes.Date|date:'d:m:Y H:i'}}" required>
                            </div>
                        </div>

                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea type="text" class="form-control" name="notes" >{{ticketinotes.Notes}}</textarea>
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Submit External Notes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}