{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'add_projectSubType' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Add Project Sub Type</span></h5>
                        </div>
                       {% include 'includes/messages.html' %}
                       <div class="col-12 col-sm-6">
                        <div class="form-group">
                            <label for="">Project Type</label>
                            <select class="form-control" name="projectype_id" required>
                                <option>Select Project Type</option>
                                {% for pt in proty %}
                                <option value="{{pt.PTID}}">{{pt.ProjectType}}</option>
                                {% endfor %}
                            </select>
                        </div>
                       </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Project Sub Type</label>
                                <input type="text" class="form-control" name="prosub_type" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Add Project Sub Type</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}